@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Josefin+Sans:wght@200;300;400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Inter, "Josefin Sans", Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  h2 {
    @apply text-[32px];
  }
}

@layer components {
  .font-logo {
    font-family: "Josefin Sans";
  }

  .col-center {
    @apply flex-col items-center justify-center;
  }

  .row-center {
    @apply items-center justify-center;
  }

  .container-content {
    @apply mx-auto md:container xl:max-w-7xl;
  }

  .skills-title {
    @apply mb-4 text-base font-semibold;
  }
}
